* {
    padding: 0;
    margin: 0;
  }

  html {
  scroll-behavior: smooth;
}


  .center {
    padding-left: calc(50% - 601px);
    padding-right: calc(50% - 601px);
  }

  body {
    overflow-x: clip;
  }

  .header {
    height: 710px;
    /*width: 1440px;*/
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat;
    background-image: url(img/Star\ 2.png), url(img/Star\ 3.png), url(img/big\ star.png),
    url(img/Star\ 5.png), url(img/Star\ 4.png);
    background-position: 63px 94px, 156px 69px, 854px -333.46px, 948px 538px, 1013px 568px;

  }

  .star:nth-child(1) {
    position: absolute;
    left: 854px;
    top: -333.46px;
    
  }

  .header__group {
    padding-top: 196px;
    padding-bottom: 246px;
    /*padding-left: 120px;*/

  }

  .header__heading {
    color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 78px;
letter-spacing: 0px;
}

.header__text {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;  
    gap: 24px;
    padding-bottom: 48px;
    padding-top: 24px;
}

.header__group-button {
    width: 247px;
    height: 66px; 
    border-radius: 30px;
    background-color: rgb(32, 32, 39); 
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 141.69%;
letter-spacing: 0%;
text-align: center;
}

.header__group-button:hover {
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;  
}

.scrollbar {
    min-width: 3220px;
    height: 90px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    /*flex-wrap: wrap;*/
    max-height: 87px;  
    overflow: hidden;
    position: relative;
}

.scrollbar__track {
    display: flex;
  align-items: center;
  white-space: nowrap;
  animation: scroll 18s linear infinite;
}

.scrollbar__item {
  display: inline-flex;
  align-items: center;
}

.scrollbar__text {
    font-family: "Montserrat";
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 51px;
    padding-left: 51px;
    display: inline-block;  
     vertical-align: middle;
}

.scrollbar__star {
    vertical-align: middle;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.main {
    background-color: rgb(32, 32, 39);
    background-repeat: no-repeat;
    background-image: url(img/Star-main1.png), url(img/Star-main2.png), url(img/Star-main3.png), url(img/Star\ 7.png), url(img/Star\ 6.png), url(img/Star\ 8.png), url(img/Star\ 10.png);
    background-position: 950px 85px, 25px 770px, 40px 822px, 1277px 1563px, 1320px 1596px, 1319px 4836px, 1249px 4884px; 
}

.about-box {
    color: #FFFFFF;
}

.about-box__title {
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 78px;
padding-top: 94px;
padding-bottom: 24px;
}

.about-box__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 72px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 50px;
}

.about__top {
    display: flex;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;  
}

.about__bottom {
    display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 32px;
}   

.game-box {
    padding-bottom: 144px;
}

.game-card {
    text-decoration: none;
}

.game-card__content {
    width: 378px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.game-card__content:hover {
    transform: scale(1.1);
}

.game-card__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.game-card__number {
    width: 108px;
    height: 36px;
    background-color: rgb(247,247,247);
    border-radius: 30px;
    color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 110%;
text-align: center;
padding-top: 8px;
box-sizing: border-box;
}

.game-card__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-bottom: 4px;
   
}

.game-box__title {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 64px;
font-weight: 700;
line-height: 78px;
padding-top: 46px;
padding-bottom: 40px;
}

.games {
 display: flex;
    flex-direction: column;
    gap: 32px;  
    align-items: center;  
}

.mini-game-card {
 width: 1200px;
 background-color: #FFFFFF;
 display: flex;
 justify-content: space-between;
 border-radius: 30px;
}

.mini-game-card__description {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: 504px;
}

.mini-game-card__title {
    color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 48px;
font-weight: 700;
line-height: 59px;
}

.mini-game-card__text {
  color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 32px; 
padding-top: 24px;
padding-bottom: 36px; 
}

.mini-game-card__button {
  width: 247px;
    height: 66px; 
    border-radius: 30px;
    background-color: rgb(32, 32, 39); 
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 141.69%;
letter-spacing: 0%;
text-align: center;  
}

.mini-game-card__button:hover {
     background: #FFFFFF;
    color: #000000;
    cursor: pointer;  
}

.footer {
    background-color: rgb(189, 237, 53);
}

.footer__text {
    text-align: center;
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
padding-top: 61px;
padding-bottom: 60px;

}

@media (min-width: 1024px) {
    .header__text-mobile {
        display: none;
    }

    .header__group-button-mobile {
        display: none;
    }

    .scrollbar__star-mobile {
        display: none;
    }

    .mini-game-card__img-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header__text-mobile {
        display: none;
    }

    .scrollbar__star-mobile {
        display: none;
    }
    
    .mini-game-card__img-mobile {
        display: none;
    }
}

@media (max-width: 1023px) {
 .center {
    padding-left: 20px;
    padding-right: 20px;
 }
 .header__heading {
    font-size: 60px;
 }

 .header__group-button {
    display: none;
 }

.header__group-button-mobile {
    width: 239px;
    height: 58px;
     border-radius: 30px;
    background-color: rgb(32, 32, 39); 
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 141.69%;
letter-spacing: 0%;
text-align: center;
}

.header__group-button-mobile:hover {
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;  
}

.game-box__title {
    font-size: 60px;
}
    .about-box {
        display: none;
    }
    .mini-game-card__description {
        justify-content: space-evenly;
    }
.mini-game-card__title {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 23px;
}
.mini-game-card__text {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mini-game-card__button {
    width: 210px;
    height: 42px;
    border-radius: 30px;
    background-color: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
}
.mini-game-card__img {
    width: 50%;
    height: 50%;
}
.mini-game-card {
    width: 720px;
    background-color: #FFFFFF;
    display: flex
;
    justify-content: space-between;
    border-radius: 30px;
}
.footer__text {
    font-size: 22px;
}
}
@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
      }

      .header {
        height: 700px;
        background-image: url(img/Star\ 2.png), url(img/Star\ 3.png), url(img/big\ star.png),
        url(img/Star\ 5.png), url(img/Star\ 4.png), url(img/Vector.png);
        background-position: 63px 94px, 156px 69px, 854px -333.46px, 272px 557px, 290px 580px, 220px -90px;
      }

    .header__group {
        padding-top: 147px;
        text-align: center;
    }

    .header__heading {
        font-size: 40px;
        line-height: 49px;   
    }

    .header__text {
        display: none;
    }
    
    .header__text-mobile {
        font-size: 16px;
        line-height: 20px;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-weight: 400;
        letter-spacing: 0px;  
        gap: 24px;
        padding-bottom: 36px;
        padding-top: 24px;
    }

    .header__group-button-mobile {
        width: 285px;
        height: 55px;
        font-size: 16px;
    }

    .scrollbar {
        width: 1926px;
        height: 51.34px;
       

    }

    .scrollbar__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;  
     padding-right: 27.4px;
        padding-left: 27.4px;  
    }

    .scrollbar__star {
        display: none;
    }

    .about-box {
        display: none;
    }

    .header__group-button:hover {
    background: #000;
    color: #FFFFFF;
    cursor: pointer;  
}

.game-box__title {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 49px;
}

.mini-game-card {
    display: flex;
    flex-direction: column;
    width: 343px;
    word-break: normal;
}

.mini-game-card__description {
    width: 284px;
    padding: 30px;
}

.mini-game-card__title {
   color: rgb(32, 32, 39);
font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 39px; 
}

.mini-game-card__text {
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
padding-top: 16px;
padding-bottom: 32px;  
}

.mini-game-card__img-mobile {
    width: 343px;
    height: 284.93px;
}

.mini-game-card__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
font-weight: 600;
line-height: 141.69%;
}

.mini-game-card__img {
        display: none;
}

.game-box {
    padding-bottom: 9.88px;
}

.footer {
    height: 100px;
}

.footer__text {
  font-size: 16px;
font-weight: 600;
line-height: 20px;
padding-top: 40px;
padding-bottom: 40px;  
}
}


